@{
    ViewBag.Title = "Home Page";
}
<h1>Pali checker 1.0</h1>
<hr />

<input type="paliSentence" name="paliSentence" id="paliWord"placeholder="Enter your word or sentence" value="" />
<button onclick="" type="button">Check word/sentence</button>
@section scripts
{
    
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        $(function () {

            $('button').on('click',
                function () {
                    var word = $("#paliWord").val();
                    $.ajax({
                        url: "http://127.0.0.1:8081/palicheck/"+word,
                        dataType:'json',
                        success: function (data) {
                            alert('Done');
                            alert(data);
                        }
                    });
                });

        });
    </script>    

}
